.container {
  display: inline-block;
  margin: 50px 0;
  text-align: center;
  border: 1px solid rgba(12, 12, 12, 30%);
}

.profile__description {
  margin-top: 30px;
}

.profile__image {
  width: 300px;
  height: 320px;
  margin-bottom: 12px;
  border-radius: 50%;
}

.profile__name {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
  color: rgb(12, 12, 12);
}

.profile__text {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(114, 107, 107);
}

.profile__list {
  display: flex;
  justify-content: center;
}

.list__item {
  display: grid;
  padding: 15px 0;
  width: 33.3333%;
  border: 1px solid rgba(114, 107, 107, 30%);
  background-color: rgb(190, 201, 221);
}

.stats__name {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
  color: rgb(114, 107, 107);
}

.stats__value {
  font-size: 22px;
  font-weight: 700;
  color: rgb(12, 12, 12);
}
